body,html{

  font-family: 'PT Sans', sans-serif;
  height:100%;

}

.parallax1 {
      background-image: url("kaveonnaAbout.GIF");
      /* Set a specific height */
      height:100%;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

}

.parallax2 {
  background-image: url("laurenAbout.jpg");
  /* Set a specific height */
  height:100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url("taaliyahAbout.gif");
  /* Set a specific height */
  height:100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {
  background-image: url("bgm45.gif");
  /* Set a specific height */
  height:100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax5 {
  background-image: url("sophieAbout.gif");
  /* Set a specific height */
  height:100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax6 {
  background-image: url("jessica.JPG");
  /* Set a specific height */
  height:100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #d3d3d3;
  /*  position: fixed; */
    height: 35%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a.active {
    background-color: #555;
    color: white;
    text-align: center;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
    text-align: center;
}

.title {
  background-image:url("aboutUs.jpg");
  height:400px;
  font-size: 70pt;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
}

h1{
  text-align:center;
    width: 1000px;
    font-size: 16pt;
  color: white;
}

h2 {
  text-align:center;
    width: 1000px;
    font-size: 16pt;
  color: white;
}

h3 {
  text-align:center;
    width: 1000px;
    font-size: 16pt;
    color: white;
  }

h4 {
  text-align:center;
    width: 1000px;
    font-size: 16pt;
    color:white;
}

h5 {
  text-align:center;
    width: 1000px;
    font-size: 16pt;
    color:white;
}

h6 {
  text-align:center;
    width: 1000px;
    font-size: 16pt;
    color:#f2f2f2;
}

.h7 {
  text-align:center;
    width: 1000px;
    font-size: 16pt;
}
