body{
  font-family: 'PT Sans', sans-serif;
}

.parallax {
  /* The image used */
  background-image: url("change.jpg");

      /* Set a specific height */
      min-height: 1000px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
       background-size: 100%;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

h2 {
  background-color: white;
    width: 550px;
    border: 10px solid black;
    padding: 25px;
    margin: 25px;
}
