body{
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

h1{
  font-size: 40px;
}
h1 {
font-size: 40px;
border-style: ridge;
border-width: 7px;
outline-color: #cecece;
outline-style: double;
}

p {
  margin-right: 90px;
  margin-bottom: 40px;
  font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #d3d3d3;
    position: fixed;
    height: 35%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* li a.active {
    background-color: #555;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
} */


/* h2 {
  background-color: white;
    width: 550px;
    border: 10px solid black;
    padding: 25px;
    margin: 25px;
} */
/* div {
    background-image:url('ss.png');
    background-repeat:no-repeat;
    background-position:right top;
} */
body  {
    background-image: url("22.jpg");

}
