body {
  background-color: #f7f7f7;
  background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
    background-size: 100%; */

font-family: 'PT Sans', sans-serif;
margin-bottom left: 40px;
font-size: 16px;
}

h1 {
  font-size: 50px;
  color: PowderBlue;
  background-color: black;
}
h1

p {
  margin-right: 70px;
  margin-bottom: 40px;
  font-size: 18px;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 15%;
    background-color: #d3d3d3;
    position: fixed;
    height: 35%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: "PT Sans", sans -serif;
    text-align: center;
}

li a.active {
    background-color: #555;
    color: white;
    text-align: center;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
    text-align: center;
}
