body{


      background-image: url("justice.jpg");

      background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    background-size: 100%;

font-family: 'PT Sans', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 8px 16px;
    width: 15%;
    background-color: #d3d3d3;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #555;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
