body{
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}

h1{
  font-size: 40px;
  color: white;
  /*border-style: ridge;
  border-width: 7px;
  outline-color: #cecece;
  outline-style: double; */
  background-color: black;
}

h3{
  border-bottom-style: solid;
  border-bottom-color: #111111
}
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 15%;
      background-color: #d3d3d3;
      position: fixed;
    height: 35%;
      overflow: auto;
  }

  li a {
      display: block;
      color: #000;
      padding: 8px 18px;
      text-decoration: none;
  }

  li a.active {
      background-color: #555;
      color: white;
  }

  li a:hover:not(.active) {
      background-color: #555;
      color: white;
  }
}
dl {
  padding-right: 5px;
}
dd {
  padding-right: 5px;
}
