body{
  font-family: 'PT Sans', sans-serif;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 35%;
  overflow: auto;
}

.article {
  font-size: 56px;
}

.desc {
  font-size: 24px;
  text-align:center;
  width:750px;
  color:black;
}

.foundations {
  background-color: black;
  background-size: cover;
  height:50px;
  color:white;
  font-size:30pt;
  text-align: center;
}

.hotlines {
  background-color: black;
  background-size: cover;
  height:50px;
  color:white;
  font-size:30pt;
  text-align: center;
}

.foot {
  font-size:14px;
  color:black;
}

.parallax1 {
      background-image: url("trevor.jfif");
      /* Set a specific height */
      height:200px;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position:center;
      background-repeat: no-repeat;
      background-size:cover;
}

.parallax2 {
  background-image: url("reproductive.jpg");
      /* Set a specific height */
      height:200px;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.parallax3 {
      background-image: url("arcus.png");
      /* Set a specific height */
      height:200px;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.parallax4 {
      background-image: url("trayvon.JPG");
      /* Set a specific height */
      height:200px;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.parallax5 {
      background-image: url("srlp.jpg");
      /* Set a specific height */
      height:200px;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.parallax6 {
      background-image: url("pp.jpg");
      /* Set a specific height */
      height:200px;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.parallax7 {
      background:transparent url("hotlineOne.jpg") center top no-repeat;
      /* Set a specific height */
      height:130px;
      display:block;
      /* Create the parallax scrolling effect */
      background-attachment: scroll;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
}

.parallax7:hover {
      background-image: url("hotOneHover.jpg");
      height:130px;
}


.parallax8 {
      background:transparent url("hotlineTwo.jpg");
      /* Set a specific height */
      height:130px;
      display:block;
      /* Create the parallax scrolling effect */
      background-attachment: scroll;
      background-position: center;
      background-repeat: no-repeat;
      background-size:100%;
}

.parallax8:hover {
  background-image: url("hotTwoHover.jpg");
  height:130px;
}

.parallax9 {
      background:transparent url("hotlineThree.jpg");
      height:150px;
      background-attachment: scroll;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
}

.parallax9:hover {
  background-image: url("hotThreeHover.jpg");
  height:150px;
}

.parallax10 {
      background:transparent url("hotlineFour.jpg");
      /* Set a specific height */
      height:180px;
      /* Create the parallax scrolling effect */
      background-attachment: scroll;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
}

.parallax10:hover {
  background-image: url("hotFourHover.jpg");
  height:180px;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #d3d3d3;
    position: fixed;
    height: 37%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a.active {
    background-color: #555;
    color: white;
    text-align: center;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
    text-align: center;
}

h1{
font-size: 40px;
color: gold;
width: 100%;
padding: 25px;
margin: 25px;
}

h2{
font-size: 40px;
color: gold;
  width: 100%;
  padding: 25px;
  margin: 25px;
}

h3{
font-size: 40px;
color: gold;
width: 100%;
padding: 25px;
margin: 25px;

}
h4{
font-size: 40px;
color: yellow;
width: 100%;
padding: 25px;
margin: 25px;

}
h5{
font-size: 40px;
color: gold;
width: 100%;
padding: 25px;
margin: 25px;

}
h6{
font-size: 40px;
color: gold;
width: 100%;
padding: 25px;
margin: 25px;

}
